go 1.26.5

use (
	./core
	./cmd/abctl
	./cmd/authbridge-cpex
	./cmd/authbridge-envoy
	./cmd/authbridge-praxis
	./cmd/authbridge-proxy
	./scripts/profile-tags
	./scripts/readme-demo
	./core/storage/redis
)
