# Keycloak connection settings
# Copy this file to aiac.env and fill in your values.
KEYCLOAK_URL=http://keycloak.localtest.me:8080
KEYCLOAK_ADMIN_USERNAME=<YOUR ADMIN USERNAME HERE>
KEYCLOAK_ADMIN_PASSWORD=<YOUR ADMIN PASSWORD HERE>
REALM_NAME=rossoctl
